.landing {
  padding: 50px 0;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  max-width: 60%;
  margin: auto;
  @media (max-width: 640px) {
    max-width: 100%;
  }
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    &:first-child{
      margin-right: 25px;
    }
  }
  @media (max-width: 640px) {
    flex-wrap: wrap;
    button {
      &:first-child{
        margin-right: unset;
      }
      margin-bottom: 15px;
    }
  }
}

.canvas-building-web {
  position: fixed;
  width: 35%;
  height: 50%;
  top: 0;
  right: 0;
  @media (max-width: 640px) {
    position: relative;
    width: 100%;
    height: auto;
    top: unset;
    right: unset;
  }
}

.floating-theme-changer{
  max-width: 100px;
  position: fixed;
  z-index: 99;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  .changer-wrapper{
    box-shadow: 0 4px 14px 0 var(--nextui-colors-primaryShadow);
    // border: 1px solid rgb(0 153 255 / 33%);
    border-radius: 999px;
    padding-left: 4px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}